@use'../base/variables' as v;
@use'../base/mixins' as m;
.formulario {
    width: auto;
    @include m.tablet {
        margin: 0 auto;
        width: 60%;
    }
    fieldset {
        display: flex;
        flex-direction: column;
        text-align: center;
        border-color: black;
        padding: 2rem;
    }
    legend {
        text-align: left;
    }
    label {
        text-transform: uppercase;
    }
    textarea {
        height: 10rem;
    }
}

.campo {
    padding: 1rem;
    margin: 2rem 0 2rem 0;
    border-radius: 1rem;
}

.boton {
    @include m.boton (#ecd823, v.$blanco, v.$blanco, v.$negro);
    max-width: 40rem;
    margin: 0 auto;
}